/*---------------------------------------------------------------*/
/*                 ESTILOS GENERALES                             */
/*---------------------------------------------------------------*/

:root {
  /* --primary: rgb(128, 218, 245); */
  --primary: #222;
  --secundary: #eee;
  --cristal: #111d;
  --cristal-hover: #333d;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.icon {
  font-size: 2rem;
  color: var(--secundary);
}

/*---------------------------------------------------------------*/
/*                 C A B E C E R A                               */
/*---------------------------------------------------------------*/

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
}

.settings-button {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 3px rgba(255,255,255,0.2);
  padding: 10px 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: translateY(-100%);
  transition: all 0.2s ease-in;
}

.settings-button--show {
  transform: translateY(0);
}

.settings-button:hover {
  background-color: var(--cristal-hover);
  cursor: pointer;
}


.settings-container {
  background-color: var(--cristal);
  position: absolute;
  width: 100%;
  transform: translateY(calc(-100% - 50px));
  transition: all 0.3s ease-in-out;
}

.settings-container-open {
  transform: translateY(0);
}

.settings {
  width: 90%;
  max-width: 600px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.settings__title {
  padding-top: 1rem;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  color: var(--secundary);
}

.settings__channels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.label {
  color: var(--secundary);
  font-weight: bold;
}

.select {
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 10px;
}

.select__option {
  font-size: 1.1rem;
}

.button {
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--secundary);
  color: var(--secundary);
  transition: all 0.1s;
}

.button:hover {
  background-color: var(--secundary);
  color: var(--primary);
}

.button:active {
  transform: scale(95%);
}

.settings-container__button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 40px;
  background-color: var(--cristal);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.2s ease-in;
}

.settings-container__button:hover {
  background-color: var(--cristal-hover);
  cursor: pointer;
}

/* channel */

.channel {
  border-right: 2px solid #777;
  border-bottom: 2px solid #777;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  width: 300px; 
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.channel__initial-channel-label {
  margin-bottom: 15px;
}

.channel__initial-channel {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  width: 60px;
  outline: none;
  text-align: right;
  margin-bottom: 10px;
}

.channel__range {
  width: 100%;
}

.channel__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/*---------------------------------------------------------------*/
/*                 M A I N                                       */
/*---------------------------------------------------------------*/

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

/* botones prev y next */
.prev, .next {
  width: 70px;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev {
  left: 0;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
}

.next {
  right: 0;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.prev--show, .next--show {
  transform: translateX(0);
}

.prev__icon, .next__icon {
  background-color: var(--cristal);
  padding: 15px;
  border: 1px solid var(--secundary);
  border-radius: 100%;
  transition: all 0.2s ease-in;
}

.prev:hover .prev__icon {
  transform: scale(110%);
}

.next:hover .next__icon {
  transform: scale(110%);
}

/* canales */
.channelcard {
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  background-color: #010101;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.channelcard__title {
  line-height: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 600;
}

.channelcard__footer {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.channelcard__link {
  color: var(--secundary);
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s;
  margin-right: 20px;
}

.channelcard__link:hover {
  transform: scale(110%);
}

/*---------------------------------------------------------------*/
/*                 R E S P O N S I V E                           */
/*---------------------------------------------------------------*/

@media screen and (max-width: 425px) {

  /* general */
  .flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* header */
  .header__channels {
    flex-direction: column;
    align-items: center;
  }

  .settings__channels {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 70%;
  }

  /* main */
  .channelcard {
    width: 100vw;
  }
}
